{% extends 'base.html.twig' %}

{% block title %}Liste des produits{% endblock %}

{% block body %}
    <h1>Liste des produits</h1>
    <main class="container">
        <h1 class="mt-2">Présentation des produits</h1>
        <section class="row">
            {% for product in products %}
                <div class="col-4">
                    <div class="card">
                        <img src="/assets/images/{{ product.imageName }}" class="card-img-top"
                             alt="Image de {{ product.productName }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ product.productName }}</h5>
                            <p class="card-text">{{ product.productDescription | nl2br | slice(0,50)}}</p>
                            <p class="card-text badge badge-info">Prix : {{ product.price }}€</p>
                            <p class="card-text">Publié le : {{ product.createdAt | date('d/m/y à H:i') }}, vue {{ product.nbViews }} fois</p>
                            <p class="card-text">Catégorie : {{ product.category.name }}</p>
                            <div class="btn-group">
                                <a href="{{ path('app_products_show', {'slug' : product.slug}) }}" class="card-link btn btn-outline-info">Détail</a>
                                {% if is_granted('ROLE_ADMIN') and is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                                <a href="{{ path('app_products_update', {'slug' : product.slug}) }}" class="card-link btn btn-outline-warning">Modifier</a>
                                {% endif %}
                                {% if is_granted('ROLE_SUPER_ADMIN') %}
                                    <a href="{{ path('app_products_delete', {'slug' : product.slug}) }}" class="card-link btn btn-outline-danger">Supprimer</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </section>
    </main>
{% endblock %}