<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{{ path('app_homepage') }}">Accueil</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07"
                aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample07">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Produit</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ path('app_products_liste') }}">Liste des produit</a>
                        {% if is_granted("ROLE_MODERATEUR")  %}
                        <a class="dropdown-item" href="{{ path('app_products_create') }}">Création de produits</a>
                        {% endif %}
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">categories</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ path('category_index') }}">Liste des catégories</a>
                        {% if is_granted("ROLE_MODERATEUR") %}
                            <a class="dropdown-item" href="{{ path('category_new') }}">Créer une catégorie</a>
                        {% endif %}
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Tags</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ path('app_tag_liste') }}">Liste des tags</a>
                        {% if is_granted("ROLE_MODERATEUR") %}
                        <a class="dropdown-item" href="{{ path('app_tag_create') }}">Créer un tag</a>
                        {% endif %}
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_contact') }}">Contact</a>
                </li>
                {% if is_granted("ROLE_ADMIN") %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('admin') }}">Administrateur</a>
                    </li>
                {% endif %}
                {% if is_granted("ROLE_SUPER_ADMIN") %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_user_liste') }}">Liste utilisateur</a>
                    </li>
                {% endif %}
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Plus</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" target="_blank" href="{{ path('app_download_pdf') }}">pdf</a>
                            <a class="dropdown-item" target="_blank" href="{{ path('app_api_meteo') }}">Api meteo</a>
                        </div>
                    </li>
                {% endif %}
            </ul>
            <ul class="navbar-nav">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <li class="nav-item">
                        <a href="{{ path('app_logout') }}" class="nav-link">Déconnexion</a>
                    </li>
                {% else %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Se connecter</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ path('app_register') }}">s'inscrire</a>
                            <a class="dropdown-item" href="{{ path('app_login') }}">s'identifier</a>
                        </div>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>