<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
            <a class="navbar-brand" href="{{ path('app_homepage') }}">Accueil</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07"
            aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample07">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Produit</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="{{ path('app_product_liste') }}">Liste des produit</a>
                      <!--<a class="dropdown-item" href="#">Descritpion du produit</a>-->
                      <a class="dropdown-item" href="{{ path('app_product_create') }}">Création de produits</a>
                    </div>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ path('app_contact') }}">Contact</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Plus</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" target="_blank" href="{{ path('app_download_pdf') }}">pdf</a>
                    <a class="dropdown-item" target="_blank" href="{{ path('app_api_meteo') }}">Api meteo</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>